*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font: #e50914;
    --background: #141414;
}

body{
    background: var(--background);
    font-family: 'open sans' , sans-serif;
    font-size: 16px;
}

.container{
    max-width: 90%;
    margin:0 auto;
}

header{
    padding: 1.875em 0;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header p{
    color: var(--font);
    text-align: center;
    font-family: monospace;
}

#header-img{
    max-width: 5em;
}

.logo{
    text-align: center;
}

header nav a {
    color: #AAA;
    text-decoration: none;
    margin-right: 1.25rem;
}

header nav a:hover,
header nav a.active{
    color: var(--font);
}

.banner {
    font-size: 1em;
    display: grid;
    place-content: center;
    text-align: center;
    min-height: 45.62em;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, .30)0%, rgba(0, 0, 0, .30) 100%), url(/assets/mlolzwV6VrKOZJ1SfYbPHXXDD4p.jpg);
    background-size: cover;
    margin-bottom: 3.12em;
}

.banner .container{
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .7);
}

b{
    color: var(--font);
}

.banner .title{
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
}

.banner .jingle {
    margin: 0 auto;
    font-weight: normal;
    text-align: center;
    font-size: 1em;
    line-height: 1.75em;
    margin-bottom: 1.25em;
}

#form{

    align-items: center;
    color: var(--font);
    font-family: 'open sans' , sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
}

#submit{
    background: var(--font);
    border: none;
    border-radius: 0.31em;
    padding: 0.60rem 1rem 0.60rem 1rem;
    margin-left: 1.25em;
    transition: .3 ease all;
    font-size: 0.40em;
    cursor: pointer;
    margin-bottom: 0.425rem;
}

#submit:hover{
    background: var(--background);
    color: var(--font);
}

#email-label{
    padding-right: 1.25rem;
}

#email{
    padding: 0.5rem;
    margin-bottom: 5em;
}



@media screen and (max-width: 768px) {
    #header-img{
        margin-bottom: 0.625rem;
    }

    header .container{
        flex-direction: column;
        text-align: center;
    }

    .banner .jingle{
        max-width: 80%;
    }

    .logo{
        padding-bottom: 0.80em;
    }
}

@media screen and (max-width: 500px) {
    header nav{
        font-size: 0.80em;
    }

    .banner .title{
        font-size: 2.8em;
    }

    .logo{
        padding-bottom: 0.80em;
    }
}

@media screen and (max-width: 300px) {
    header nav{
        font-size: 0.80em;
    }

    .logo{
        padding-bottom: 0.80em;
    }
}